@page "/medicos/details"
@inject NavigationManager NavigationManager
@inject IMedicoService MedicoService

<PageTitle>Detalhes</PageTitle>

<h1>Detalhes</h1>

<div>
    <h2>Médico</h2>
    <hr />
    @if (medico is null)
    {
        <p><em>Carregando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@medico.Nome</dd>
            <dt class="col-sm-2">Telefone</dt>
            <dd class="col-sm-10">@medico.Telefone</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@medico.Email</dd>
            <dt class="col-sm-2">CRM</dt>
            <dd class="col-sm-10">@medico.Crm</dd>
            <dt class="col-sm-2">Especialidade</dt>
            <dd class="col-sm-10">@medico.Especialidade</dd>
        </dl>
        <div>
            <a href="@($"/medicos/edit?idfuncionario={medico.IdFuncionario}")">Editar</a> |
            <a href="@($"/medicos")">Voltar</a>
        </div>
    }
</div>

@code {
    private Medico? medico;

    [SupplyParameterFromQuery]
    private int IdFuncionario { get; set; }

    protected override async Task OnInitializedAsync()
    {
        medico = await MedicoService.GetMedicoByIdFuncionarioAsync(IdFuncionario);

        if (medico is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
